<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
      #filtersec {
    width: 50%;
      }
    </style>
</head>
<body>
     
   <div class="result">
    <h3>All users</h3>
    
    <h4>total users : <%=totalUsers %></h4>
    <h4>Apply filters   </h4>
    <form action="/allUser" method="get">
    <div class="input-group mb-3" id="filtersec">
      <span class="input-group-text" id="basic-addon1">Sort</span>
      <input type="text" class="form-control" placeholder="filter By age" aria-label="age" aria-describedby="basic-addon1" name="age">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Apply</button>
    <button type="submit" class="btn btn-outline-secondary">cancel</button>
  </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">email</th>
          <th scope="col">gender</th>
          <th scope="col">DOB</th>
        </tr>
      </thead>
      <tbody>
       <% if (users.length <=0) { %>
        <h4>no users found</h4>
       <% } %>
        <%users.forEach(user => { %>
          <tr>
            <th scope="row"><%=user._id %></th>
            <td><%=user.first_name %></td>
            <td><%=user.email %></td>
            <td><%=user.gender %></td>
            <td><%=user.dob %></td>
          </tr>
        <% }) %>
        <div>
          <% if (page > 1) { %>
            <a href="/users?page=<%=page - 1 %>">Previous</a>
          <% } %>
        
          <% if (page < totalPages) { %>
            <a href="/users?page=<%=page + 1 %>">Next</a>
          <% } %>
        </div>
      
      </tbody>
    </table>
   </div>
      
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>